<% content_for :title, "Products" %>
<h1 class="title is-1 has-text-centered has-text-dark">Our Products</h1>
<body>
  <section class="section">
    <div class="columns is-multiline is-variable is-justify-content-center">
        <%@products.each do |product|%>
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <div class="box has-text-centered">
            <img style="width: 180px; height: 280px; object-fit: cover;"
            src="<%=product.product_img%>"
            alt="<%=product.product_name%>">
            <p class="mt-2 has-text-weight-medium"><%=link_to product.product_name, product%></p>
          </div>
        </div>
        <%end%>
    </div>
  </section>
</body>
